<div class="wrap">
  <table class="table table-bordered table-calendar">
    <tr class="table-calendar__raw">
      <th class="table-calendar__head">Name</th>
      <th class="table-calendar__head">Mon</th>
      <th class="table-calendar__head">Tue</th>
      <th class="table-calendar__head">Wed</th>
      <th class="table-calendar__head">Thu</th>
      <th class="table-calendar__head">Fri</th>
    </tr>
    {{{table}}}
  </table>
</div>